h1 { 
  margin: 0;
}

.header {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.app {
  height: 100vh;
  width: 100vw;
  position: relative;
  overflow: auto;
  background-color: rgb(77, 72, 72);  
  color: #DDD;

}

.app .results { 
  margin-left: 20vh;
}

.search {
  width: 100vw;
  height: 60px;
  background-color: #DDD2;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

.search input {
  margin-left: 10px;
}

.list {
  margin-left: 10vw;
  margin-right: 10vw;
}

.item {
  background-color: #DDD1;
  margin-top: 15px;
  padding: 10px;
  background-color: #0009;
}

.item img, .item .text {
  display: inline-block;
}

.item img {
  background-color: #1114;
  width: 200px;
  height: 100px;
}

.item .text {
  margin-left: 20px;
}

.timer {
  position: fixed;
  top: 10px;
  right: 30px;  
  border-radius: 50%;
  background-color: rgba(79, 218, 109, 0.2);
  border-style: solid;
  border-color: #FFF7;
  border-width: 2px;
  height: 70px;
  width: 70px;
  font-size: 10px;
  font-weight: bolder;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.timer.start {
  right: 110px;
}

.timer span {
  text-align: center;
}

button {
  color: white;
  margin: 5px;
  box-shadow: none;
  background: none;
  border: 0;
  padding: 5px;
}

.configuration { 
  padding: 20px;
  border: 1px solid blue;
  margin: 3px;
}

.configuration div {
  margin-top: 10px;
}

.configuration span {
  margin-left: 5px;
}